* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #ffaa34, #ff5100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 900px;
}

.question-box {
  background: white;
  border-radius: 40px;
  padding: 45px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon img {
  width: 75px;
  margin-right: 45px;
  margin-left: 20px;
}



.question-box h1 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

/* Buscador */
.search-box {
  background: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-icon {
  padding: 0 30px;
}

.search-icon img {
  width: 55px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 22px;
  padding: 45px 10px;
}

.search-box button {
  background: #7f7f7f;
  border: none;
  padding: 45px 35px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-box button:hover {
  background: #000;
  color: #ffffff;
}


